

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #2c2c2c, #555555); /* светлый градиент сверху вниз */
  font-family: 'Segoe UI', sans-serif;
}

/* header */
header {
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #ffffff, #ffffff);
    
    
}

.header-name {
  display: flex;
  width: 85%;
  height: 100px;
  justify-content:center;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 10px;
  font-weight: bolder;
  color:rgba(11, 12, 11, 0.76);
}


.header-logo {
    background-image: url('../images/logo.png'); /* <-- относительный путь */
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

/* hero */
.hero {
  position: relative;
  width: 100%;
  height: 400px; /* поменяй на нужную высоту */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill; /* чтобы растянуть */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items:center; /* выравнивание по левому краю */
  height: 100%;
  padding-left: 80px; /* отступ слева */
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.hero-btn {
  align-self: center;
  margin-left: 30px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.85);
  color: #111;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}


.hero-text h1 {
  font-size: 48px;
  margin: 0 0 10px 0;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 30px;
  font-style: italic;
}


.hero-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* ← прозрачный чёрный */
  z-index: 2;
}

.hero-btn-container {
  position: relative;
  z-index: 3; /* выше чем overlay */
}

.hero-btn:hover {
  background: rgba(255, 255, 255, 1);
  transform: scale(1.05);
}

.info {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(3fr 1fr);
    grid-template-rows:repeat(3fr 2fr);
    background-color: rgb(255, 255, 255);
    
    
}

.info-box-about {
    padding: 10px;
    font-weight: bold;
}

.about-text1 {
  background-color: #111;
  border-radius: 6px;
  margin-left: 650px;
  margin-right: 650px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.about-text1:active {
  transform: scale(1.01);
  color: #111;
}

.about-text2 {
  margin: 10px auto;
  max-width: 800px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.about-text2:hover {
  transition: all 0.3s ease;
  font-weight: bold;
  color:rgb(114, 114, 114);
}

.info-logo {
  margin-top: 20px;
  width: 120px; /* или нужный размер */
  height: auto;
  display: block;
    margin-left: auto;
  margin-right: auto;

}

.info-logo:hover {
  transform: scale(1.05);
}

.about-hidden {
  display: none;
  text-align: center;
  margin-top: 10px;
  transition: all 0.4s ease;
}

.toggle-about {
  cursor: pointer;
  text-align: center;
  user-select: none;
}





.tooltip-wrapper {
  --clr-btn: rgb(2 22 36);
  --clr-dropdown: rgb(19, 19, 19);
  --clr-nav-hover: rgb(0, 0, 0);
  --clr-dropdown-hov: rgb(2 22 36);
  --clr-dropdown-link-hov: rgb(2 22 36);
  --clr-light: #ffffff;
}
.nav-link {
  position: relative;
}
.tooltip-wrapper > .tooltip-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tooltip-container,
.tooltip-menu-with-icon {
  list-style: none;
}
.nav-link > .tooltip-tab {
  color: var(--clr-light);
  background: var(--clr-btn);
  padding: 0.8rem 1rem;
  letter-spacing: 1px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 12px;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #c9d9da;
  transition: 0.3s ease-in-out;
}
.nav-link > .tooltip-tab:hover svg {
  transform: rotate(360deg);
  transition: 0.3s ease-in-out;
}
.tooltip-links {
  text-decoration: none;
}
.nav-link svg {
  fill: #fff;
}
.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 12rem;
  max-width: 15rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 15px 0px 0px 0px;
}
.tooltip::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #c0c1c1 no-repeat -30px -50px fixed;
  top: 0px;
  left: 6%;
  position: absolute;
  display: inline-block;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(360deg);
  z-index: -1;
  box-shadow: 0px 6px 30px rgb(32, 32, 32);
}
.tooltip .tooltip-menu-with-icon {
  padding: 10px 0px;
  background-color: var(--clr-dropdown);
  border: 1px solid #ececec;
  position: relative;
}
.tooltip-link {
  position: relative;
}
.tooltip-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--clr-dropdown);
}
.tooltip-link > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  background-color: var(--clr-dropdown);
  color: var(--clr-light);
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  transition: 0.3s;
}
.tooltip-menu-with-icon svg {
  height: 20px;
  margin-left: 0px;
}
.nav-link:hover > .tooltip-tab {
  transform: scale(1.1);
}
.nav-link:hover > .tooltip,
.tooltip-link:hover > .tooltip {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}
.nav-link:hover > .tooltip-tab {
  transform: scale(1);
  background-color: var(--clr-nav-hover);
}

.footer-contact {
  position: fixed;
  bottom: 150px;
  right: 60px;
  z-index: 9999;
}




